In [2]:
FILENAME = '2 year dataset.xlsx'

In [3]:
import pandas as pd

In [4]:
data = pd.read_excel(FILENAME)

In [5]:
data

,Date,apple,buger,chocolate,donuts,egg,fish,garlic,honey,ice cream,...,yam,popcorn,nut,tomato,vegetables,peri sauces,mutton,spaghetti,wings,prac
0,1-Jan-2018,0,1,1,0,1,1,0,1,1,...,0,0,1,0,1,0,1,1,1,1
1,2-Jan-2018,0,1,1,1,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,3-Jan-2018,1,1,0,0,1,0,1,0,1,...,0,1,0,0,1,0,1,1,1,1
3,4-Jan-2018,1,0,0,1,1,1,1,0,1,...,1,1,0,0,1,0,1,0,0,1
4,5-Jan-2018,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,27-Dec-2019,1,1,1,1,0,0,1,0,1,...,1,0,1,1,1,0,1,1,1,1
726,28-Dec-2019,0,0,1,0,1,0,0,1,1,...,0,1,1,1,0,1,1,0,0,1
727,29-Dec-2019,1,1,1,1,0,0,1,0,0,...,1,0,0,1,0,0,1,1,1,1
728,30-Dec-2019,0,1,0,1,0,0,1,0,1,...,1,0,1,0,0,1,0,1,0,1
729,31-Dec-2019,1,0,1,0,1,1,0,1,0,...,0,0,1,1,0,1,1,0,1,1

# Preparing the Data

### Converting the data into pair of sentences
### 1 row  ===> 1 sentence

In [6]:
dataToConvert = data.iloc[:,1:]

In [7]:
dataToConvert

,apple,buger,chocolate,donuts,egg,fish,garlic,honey,ice cream,jelly,...,yam,popcorn,nut,tomato,vegetables,peri sauces,mutton,spaghetti,wings,prac
0,0,1,1,0,1,1,0,1,1,0,...,0,0,1,0,1,0,1,1,1,1
1,0,1,1,1,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,1,0,0,1,0,1,0,1,1,...,0,1,0,0,1,0,1,1,1,1
3,1,0,0,1,1,1,1,0,1,0,...,1,1,0,0,1,0,1,0,0,1
4,0,0,0,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,1,1,1,1,0,0,1,0,1,0,...,1,0,1,1,1,0,1,1,1,1
726,0,0,1,0,1,0,0,1,1,0,...,0,1,1,1,0,1,1,0,0,1
727,1,1,1,1,0,0,1,0,0,1,...,1,0,0,1,0,0,1,1,1,1
728,0,1,0,1,0,0,1,0,1,1,...,1,0,1,0,0,1,0,1,0,1
729,1,0,1,0,1,1,0,1,0,1,...,0,0,1,1,0,1,1,0,1,1

In [8]:
columns = data.columns[1:] #getting all columns
columns

Index(['apple', 'buger', 'chocolate', 'donuts', 'egg', 'fish', 'garlic',
       'honey', 'ice cream', 'jelly', 'ketchup', 'lemons', 'mango', 'oranges',
       'pasta', 'yougurt', 'quicee', 'carrot', 'rice', 'olive oil', 'yam',
       'popcorn', 'nut', 'tomato', 'vegetables', 'peri sauces', 'mutton',
       'spaghetti', 'wings', ' prac'],
      dtype='object')

##### the code below is to convert the values into the string

In [9]:
sentence = []
for i in range(len(dataToConvert)):
    x = dataToConvert.iloc[i,:].values
    s_s = ''
    s_s +=" "+str(i+1) #addig the date as from day 0 to day 730
    for index,value in enumerate(x):
        if value == 1.0:
            s_s+=" "+columns[index]
    sentence.append(s_s)

In [10]:
sentence[0:5]

[' 1 buger chocolate egg fish honey ice cream lemons oranges pasta quicee carrot rice olive oil nut vegetables mutton spaghetti wings  prac',
 ' 2 buger chocolate donuts egg fish honey lemons mango oranges pasta yougurt carrot olive oil yam  prac',
 ' 3 apple buger egg garlic ice cream jelly ketchup lemons mango oranges pasta quicee rice olive oil popcorn vegetables mutton spaghetti wings  prac',
 ' 4 apple donuts egg fish garlic ice cream ketchup lemons oranges carrot olive oil yam popcorn vegetables mutton  prac',
 ' 5 egg jelly ketchup lemons mango oranges pasta quicee yam spaghetti wings  prac']

In [11]:
sentence[300:305]

[' 301 apple buger donuts egg jelly mango pasta yougurt carrot rice olive oil yam popcorn tomato peri sauces  prac',
 ' 302 donuts fish garlic honey ice cream lemons mango pasta quicee rice nut mutton spaghetti wings  prac',
 ' 303 buger chocolate donuts garlic honey jelly ketchup oranges yougurt olive oil yam popcorn vegetables peri sauces mutton wings  prac',
 ' 304 apple egg ice cream lemons pasta carrot rice yam popcorn nut tomato mutton wings  prac',
 ' 305 apple buger chocolate donuts garlic honey jelly ketchup mango oranges pasta yougurt quicee yam nut peri sauces  prac']

In [12]:
sentence[-5:-1]

[' 726 apple buger chocolate donuts garlic ice cream ketchup oranges pasta yougurt quicee carrot rice olive oil yam nut tomato vegetables mutton spaghetti wings  prac',
 ' 727 chocolate egg honey ice cream ketchup mango pasta quicee popcorn nut tomato peri sauces mutton  prac',
 ' 728 apple buger chocolate donuts garlic jelly ketchup lemons pasta yougurt carrot rice olive oil yam tomato mutton spaghetti wings  prac',
 ' 729 buger donuts garlic ice cream jelly ketchup mango oranges pasta yougurt quicee rice yam nut peri sauces spaghetti  prac']

###### Now the data has been converted into sentences, now for the text processing part

In [13]:
import keras

Using TensorFlow backend.

In [14]:
sentence[3]

' 4 apple donuts egg fish garlic ice cream ketchup lemons oranges carrot olive oil yam popcorn vegetables mutton  prac'